/* Kaden Keetch 12/11/2022 */
body { 
    background-color: #434343ff;
    color: #efefef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-preview {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.inbody {
    color: #efefef;
    text-decoration: underline;
}

.post-preview h2 {
    margin-top: 1rem;
}

.post-subtitle .italic {
    font-style: italic;
    margin-top: .5rem;
    margin-bottom: 0;
}

.copyright {
    color: #efefef;
    margin-top: .5rem;
}

.center {
    text-align: center;
}